<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板页</title>
     <!--图标-->
     <link rel="icon" href="/img/favicon.ico">
     <!-- 2018-09-05最新版本的 Bootstrap 核心 CSS 文件 -->
     <link rel="stylesheet" href="/common/css/bootstrap.min.css">
     <!--自定义CSS文件-->
  </head>
  <body>
      
  </body>
  <!--jquery-->
  <script src="/common/js/jquery-3.3.1.min.js"></script>
  <script src="/common/js/jquery.session.js"></script>
  <!--API-->
  <script src="/common/js/crypto-js.js"></script>
  <!--自定义JavaScript-->
</html>